* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

html, body {
	margin: 0;
	padding: 0;
}


/***************************************
page specifics
***************************************/

main {
	max-width: 769px;
	margin: 0 auto;
	padding: 0 16px;
}

main header {
	padding: 1em;
	text-align: center;
}

main p,
main h4 {
	font-weight: normal;
	color: rgba(000,000,000,0.5);
}

main .group p {
	margin: 8px 0;
}

main #zip {
	float: left;
	max-width: 175px;
}

footer {
	text-align: center;
	padding: 1em;
	color: rgba(000,000,000,0.5);
}

/***************************************
main header
***************************************/
.main-header {
	background: #2d3944;
	color: #ffffff;
	text-align: center;
	padding: 1em;
}

.main-header h1 {
	text-transform: uppercase;
	font-size: 26px;
}


/***************************************
form
***************************************/
form {
	margin: 0;
	padding: 0;
	border-top: 6px solid #000;
}

form fieldset {
	padding: 0;
	margin: 8px 0 0 0;
	border-top: 2px solid #000;
}

form fieldset legend {
	float: left;
	overflow: auto;
	font-size: 18px;
	margin: 1.45em 0;
	font-weight: bold;
}	

legend + p {
	clear: both;
}

form p:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
	height: 0;
}

::-webkit-input-placeholder { text-align:right; }
input:-moz-placeholder { text-align:right; }

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	-webkit-appearance: none;
	width: 100%;
	padding: 1.4em;
	font-size: 1rem;
	border-radius: 4px;
	background: #eff0f1;
	border: 0;
}

select {
	background: url(arrow.png) no-repeat right #eff0f1;
	color: rgba(000,000,000,0.5);
}

textarea {
	min-height: 150px;
}

input:focus,
select:focus,
textarea:focus {
	outline-color: #306184;
}


/***************************************
labels
***************************************/
label {
	display: block;
	margin-bottom: 8px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	display: inline-block;
	margin-left: 8px;
}

.group label {
	float: none;
}

label[for=message] {
	width: auto;
}


/***************************************
buttons
***************************************/
button {
	display: block;
	width: 100%;
	padding: 1.25em;
	font-size: 1rem;
	border-radius: 4px;
	background: #53bbb4;
	color: #ffffff;
	font-size: 1.17rem;
	outline: 0;
	border: 0;
}

/***************************************
media queries
***************************************/
@media screen and (min-width: 768px) {
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select {
		width: calc(100% - 120px);
		float: right;
	}
	label {
		float: left;
  		width: 120px;
	}
}




